:root {
    --primary: #171819;
    --secundary: #1e1e23;
    --terciary: #47474a;
    --white: #cfcfd0;
    --red: #a64041;
    --green: #5fad81;
}

.total-card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secundary);
  margin: 1rem;
  padding: 1rem;
}

.total-card-div h2{
    padding: 0.5rem;
}

#balance {
    padding: 0.5rem;
}

.positive {
    color: var(--green);
}

.negative {
    color: var(--red);
}

.input-card-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--secundary);
    margin: 1rem;
    padding: 1rem;
}

.input-card-div button{
    margin: 0.5rem;
    color: var(--white);
    background: var(--primary);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.input-card-div input{
    margin: 0.5rem;
    color: var(--white);
    background: var(--secundary);
    border-style: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--terciary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}